<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Empleado</title>
</head>
<body>
    <h1>Editar Empleado</h1>
    
    <form method="POST" action="{% url 'editar_libro' libro.id %}">
        {% csrf_token %}
        
        <label for="titulo">Título:</label>
        <input type="text" id="titulo" name="titulo" value="{{ libro.titulo }}" required>
        <label for="autor">Autor(es):</label>
        <input type="text" id="autor" name="autor" value="{{ libro.autor }}" required>
        <label for="temas">Temas:</label>
        <input type="text" id="temas" name="temas" value="{{ libro.temas }}" required>
        <label for="dispon">Disponibilidad:</label>
        <select name="dispon" id="dispon" value="{{ libro.dispon }}">
            <option value="True" >Disponible</option>
            <option value="False">No Disponible</option>
        </select>


        <button type="submit">Guardar Cambios</button>
    </form>
    
    <a href="{% url 'gestion_biblioteca' %}">Volver a la Lista de Empleados</a>
</body>
</html>
