{% extends "templategeneralpaginas.html" %}

{%  load static %}



{% block title %} Gestión Biblioteca- UFN {% endblock  %}
<link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>


{% block titulo_bufanda %}UFN{% endblock titulo_bufanda %}
{% block subtitulo_bufanda %}Gestión Catálogo de Biblioteca{% endblock subtitulo_bufanda %}

{% block  main %}


<div id="contenedor_alumnos">
    <section id="informacion_inscripciones">
    
        <section class="parrafo_general">
            <p>
                
                
                
            </p>
        </section>

    </section>



    <section id="pasos_inscipcion">
        <h5>Sistema de consulta de bibliográfico</h5>

        {% include "catalogo.html" %}
    </section>

    

    

        

    
    
{% endblock  %}