{% extends "templategeneralpaginas.html" %}

{%  load static %}


{% block title %} Acerca de - UFN {% endblock  %}
<link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>


{% block titulo_bufanda %}Acerca de nuestra universidad{% endblock titulo_bufanda %}
{% block subtitulo_bufanda %}{% endblock subtitulo_bufanda %}

{% block  main %}
    
<div id="contenedor_acercade">
    <section class="informacion_acercade">
        <div>
</p>
<section class="acercade">
<h4>Historia de la Universidad Florence Nightingale</h4>
<p>
La Universidad Florence Nightingale, cariñosamente conocida como "UFN", es una institución educativa que ha dejado una marca indeleble en la historia de la educación en el Río de la Plata. Fundada en 1950, UFN se ha comprometido a lo largo de los años en brindar una educación de alta calidad en las áreas de enfermería y tecnología.
</p>

<figure>
<img src="https://img.freepik.com/free-photo/harvard-university-cambridge-usa_1268-14363.jpg?size=626&ext=jpg&ga=GA1.1.386372595.1697587200&semt=sph" alt="Edificio de la UFN" width="300" height="200" class="img-left">
<figcaption>       
    Nuestra universidad lleva el nombre de Florence Nightingale, la legendaria pionera de la enfermería moderna. Al igual que Florence, en UFN abrazamos la idea de la atención compasiva y de calidad como piedra angular de nuestra filosofía educativa.
</figcaption>
</figure>

<p>
<figure>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSfiz333xanIHng17Zq2ssejIPIm3le2eNpIlNXUf7W-TMQUxlgnjTkxrao1SNijlYivaA&usqp=CAU" alt="Florence Nightingale" class="img-right">
    <figcaption>
    <b>Construcción y Fundación:<br></b>
        La construcción de UFN comenzó poco después de la autorización de la Gran Corte General de la Colonia de la Bahía de Massachusetts en Nueva Inglaterra. Originalmente, la universidad se llamaba "New College" o "Colegio de Nueva Ciudad" antes de ser rebautizada como "Universidad Florence Nightingale" en 1639 en honor a John Harvard, un clérigo que hizo una donación sustancial a la institución. La construcción inicial se centró en la Yard, el corazón del campus, donde se erigieron edificios académicos y residencias estudiantiles.
    </figcaption>
</figure>
</p>

<p>
<b>Diseño arquitectónico:</b><br>
El diseño arquitectónico original de UFN estaba influenciado por las tradiciones arquitectónicas europeas de la época. Los primeros edificios estaban construidos en un estilo puritano que reflejaba la herencia de los colonos que habían llegado de Inglaterra. El Hollis Hall, uno de los edificios más antiguos de UFN, construido en 1763, es un ejemplo notable de esta arquitectura colonial.
</p>

<p>
<b>Expansión continua:</b><br>
Con el tiempo, la universidad ha experimentado una expansión constante. Se han añadido numerosos edificios y facultades a lo largo de los siglos, en diversos estilos arquitectónicos, desde neogótico hasta modernista. Hoy en día, el campus de UFN comprende más de 200 acres y alberga una impresionante variedad de edificios académicos, residencias estudiantiles y facilidades deportivas.
</p>

<p>
<b>Construcciones emblemáticas:<br></b>
Algunos de los edificios más emblemáticos de UFN incluyen Widener Library, uno de los mayores depósitos de libros en el mundo, y Memorial Hall, un impresionante edificio de estilo victoriano. Además, el Yard de UFN, rodeado de edificios coloniales, sigue siendo un punto focal importante del campus. La construcción y evolución de la Universidad Florence Nightingale a lo largo de los siglos la han convertido en un lugar de gran importancia académica e histórica en los Estados Unidos. La universidad continúa siendo un faro de educación superior y ha influido en la arquitectura de muchas otras instituciones académicas en todo el país.
</p>

<p>
A lo largo de los años, UFN ha crecido y diversificado sus programas académicos. Ofrecemos una amplia gama de cursos, incluyendo la carrera de Enfermería y la Tecnicatura en Desarrollo de Software. Nuestro compromiso con la excelencia académica ha atraído a estudiantes de todo el país y más allá.
</p>

<figure>
<img src="https://resizer.glanacion.com/resizer/v2/mas-de-la-mitad-de-los-estudiantes-argentinos-no-W7FI6NGLNVFLZERPYNK6B4ZE2Y.jpg?auth=da3673a7c5c1537c2c7bd333e5c0918b44b1b078b22e2d519587b27486ad1a9f&width=768&quality=70&smart=true" alt="Estudiantes de UFN" width="300" height="200" class="img-left">
<figcaption>
    Nuestras sedes están estratégicamente ubicadas en diversas ciudades, lo que nos permite llegar a una amplia audiencia de estudiantes. Cada una de nuestras sedes es un lugar donde la educación de calidad se combina con un entorno enriquecedor para el aprendizaje.
</figcaption>
</figure>

<p>
<strong>Mérito</strong>
</p>

<p>
La Universidad Florence Nightingale se ha ganado su reputación como una de las principales instituciones académicas del mundo debido a su compromiso con la excelencia académica. Ofrece una amplia gama de programas de pregrado, posgrado y doctorado en diversas disciplinas. Sus profesores y académicos son líderes en sus campos, y muchos de ellos son reconocidos a nivel mundial por sus contribuciones a la investigación y la enseñanza.
</p>

<figure>
<img src="https://educacion.uncuyo.edu.ar/cache/1200x650-edificio_550_750.jpg" width="300" height="200" alt="Interior de una de nuestras sedes" class="img-right">
<figcaption>
    En UFN, nos enorgullece nuestro legado de formar profesionales altamente capacitados y comprometidos con el bienestar de la sociedad. Nuestros graduados han desempeñado un papel vital en el campo de la enfermería y la tecnología, y
    continuamos inspirando a las generaciones futuras.
</figcaption>
</figure>
<p>
    ¡Únete a nosotros en este viaje de descubrimiento y crecimiento en la Universidad Florence Nightingale!
</p>
    
</section>

                </section>

<style>
    .img-left {
      float: left;
      margin-left: 10px;
    }
    .img-right {
      float: right;
      margin-left: 10px;
    }
</style>
                
    

    
    
{% endblock  %}