{% extends "templategeneralpaginas.html" %}

{%  load static %}



{% block title %} Sedes - UFN {% endblock  %}
<link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>

{% block titulo_bufanda %}Nuestras sedes{% endblock titulo_bufanda %}
{% block subtitulo_bufanda %}{% endblock subtitulo_bufanda %}

{% block  main %}
    

    

<div id="contenedor_sedes">
    <section class="informacion_sedes">
        <div>
</p>
<center><section class="sedes">

<p>La Universidad Florence Nightingale cuenta con diversas sedes en todo el mundo para brindar educación de calidad. A continuación, te presentamos algunas de nuestras sedes más destacadas:</p>

<div class="sede">
<img src="https://turismo.buenosaires.gob.ar/sites/turismo/files/styles/img_que_hacer/public/ciudad_panoramica_guemes_1500x610_0.jpg?itok=uMgyai6v" alt="Sede en Ciudad X" style="max-width: 300px;">
<h3>Sede Principal - Ciudad de Buenos Aires</h3>
<p>Esta es nuestra sede principal, ubicada en la Ciudad de Buenos Aires. Aquí encontrarás instalaciones de última generación y una amplia variedad de programas académicos.</p>
</div>

<div class="sede">
<img src="https://static.hosteltur.com/app/public/uploads/img/articles/2014/12/01/L_5c1a3eae0668b_sao_paulo.jpg" alt="Sede en Ciudad Y" style="max-width: 300px;">
<h3>Sede en el Extranjero - Ciudad Sao Paulo</h3>
<p>Nuestra sede en la ciudad de Sao Paulo ofrece programas internacionales y oportunidades de intercambio para estudiantes de todo el mundo.</p>
</div>


</section>

                
                </section>
                

    
{% endblock  %}
