{% extends "templategeneralpaginas.html" %}

{%  load static %}



{% block title %} Gestión Biblioteca / Eliminación - UFN {% endblock  %}
<link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>


{% block titulo_bufanda %}UFN{% endblock titulo_bufanda %}
{% block subtitulo_bufanda %}Gestión Catálogo de Biblioteca / Eliminación{% endblock subtitulo_bufanda %}

{% block  main %}

<div id="contenedor_alumnos">
    



    <section id="pasos_inscipcion">
        <h2>Confirmar Eliminación</h2>
    <p>¿Estás seguro de que deseas eliminar la entrada: "{{ libro.titulo }}"?</p>
    
    <form method="POST">
        {% csrf_token %}
        <input type="submit" value="Confirmar Eliminación">
    </form>

    <a href="{% url 'gestion_biblioteca' %}">Cancelar</a>


    </section>
</div>
    
    

{% endblock  %}


