

#regimen_punto_punto {
    
    font-size: 1.2em;
    text-align: justify;

}

h6 {
    font-family: 'Quicksand', sans-serif;
    font-size: 1.2em;

}

#regimen_punto_punto li {
    
    font-family: 'Quicksand', sans-serif;
    margin: 1.5em;
}


